<div class="card">
	<h3 class="card-header card-header-color">User Registration</h3>
	<div class="card-body ">
		<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
			<div class="row mb-3">
				<div class="form-group col">
					<label>Title</label>
					<select class="form-control" formControlName="title">
						<option value="Mr">Mr</option>
						<option value="Mrs">Mrs</option>
						<option value="Miss">Miss</option>
						<option value="Ms">Ms</option>
					</select>
				</div>

				<div class="form-group col-5">
					<label>First Name</label>
					<input type="text" class="form-control" formControlName="firstName">
				</div>

				<div class="form-group col-5">
					<label>Last Name</label>
					<input type="text" class="form-control" formControlName="lastName">
				</div>
			</div>	

            <div class="row mb-3">
		        <div class="form-group col-5">
			       <label>Date of Birth</label>
			       <input type="date"  class="form-control" formControlName="dob">
                </div>
                <div class="form-group col-5">
					<label>Email</label>
					<input type="text"  class="form-control" formControlName="email">
                </div>
		    </div>

		    <div class="row mb-3">
		        <div class="form-group col-5">
			       <label>Password</label>
			       <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="form-group col-5">
					<label>Confirm Password</label>
					<input type="password"  class="form-control" formControlName="confirmPassword">
                </div>
		    </div>


            <div class="row mb-3">
		        <div class="form-group form-check">
			       <input type="checkbox"  class="form-check-input" id="acceptTerms" formControlName="acceptTerms">
			       <label for = "acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                </div>
            </div>    

            <div class="row mb-3">
            	<div class="form-group text-center">
            	<button type="submit" class="btn btn-success me-2">Save</button>
            	<button type="button" class="btn btn-danger" (click)=" onCancel()">Cancel</button>
                </div>
            </div>

		</form>    
	</div>
</div>	

<!-- <div>
	{{users.title}}
</div> -->
<div class="card">
<!--     Isse ham object ke data ko json mai convert kr skte hain
		<ng-container *ngIf="users.length">
		{{users | json}}
	    </ng-container> 
-->

	<h5 class="card-header card-header-list-color">User List</h5>
	<div class="card-body ">
      <div class="form-row">
		<div class="form-group col">
           <table class="table table-bordered">
			 <tr>
				<th>Title&nbsp;</th>
				<th>First Name&nbsp;</th>
				<th>Last Name&nbsp;</th>
				<th>DOB&nbsp;</th>
				<th>Email&nbsp;</th>
				<th>Actions&nbsp;</th>
			 </tr>
			 <!-- We will get the user data in the table format by calling the getAllUser()fxn inside ngOnInit() -->
			 <tr *ngFor = "let user of users"> 
				<td>{{user.title}}</td>
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>  

				<td>{{user.dob}}</td>
				<td>{{user.email}}</td>
				<td>
					<!--ab in edit wale icon pe edit delete function lagane ke liye hame id ka use krna padega -->
					<i class="fa fa-edit" style="color:green;" (click)="Edit(user.id)"></i>
					<i class="fa fa-trash" style="color:red;" (click)="Delete(user.id)"></i>

				</td>

             </tr>

		   </table>
		</div>
	  </div>
	</div>
</div>	

		